* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
}
td {
  border: 2px solid black;
  text-align: center;
  padding: 0 10px;
  position: relative;
}
#tableCalc td {
  border: 2px solid black;
  text-align: center;
  padding: 0 10px;
  position: relative;
  height: 40px;
}
#tableCalc td input {
  width: 95%;
  position: absolute;
  right: 0;
  bottom: 0;
}
#tableCalc td p {
  position: relative;
  top: -10px;
}
